*{
    border-radius: 20px;
}
/* .space{
    background:rgb(135, 241, 167);
    border: 3px solid rgb(56, 0, 102);
    border-radius: 20px;

    /* margin: 100px 1200px 100px 10px; */
    /* padding: 50px 50px 50px 50px; */
/* } */ */
.example{
    background:rgb(195, 122, 255);
    border: 3px solid rgb(56, 0, 102);
    padding: 50px 50px 50px 50px;
}
#title{
    margin: 10px 10px 0 10px;
    background: rgb(188, 207, 135);
    border: 3px solid rgb(255, 238, 0);
    padding: 10px 50px 10px 500px ;
}

#tabs{
    background:rgb(195, 122, 255);
    border: 3px solid rgb(56, 0, 102);
    margin: 30px 1150px 100px 10px;
    padding: 50px 50px 50px 50px;
}
#main_area{
    background:rgb(255, 149, 214);
    border: 3px solid rgb(83, 0, 56);
    margin: 10px 210px 50px 210px;
    padding: 50px 50px 50px 50px;

}
#Ads{
    background:rgb(253, 136, 136);
    border: 3px solid rgb(255, 3, 3);
    padding: 50px 50px 50px 50px;

}
.middle{
    background:rgb(116, 204, 142);
    border: 3px solid rgb(1, 255, 22);
    border-radius: 20px;
}
